includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- ../../../phpstan/phpstan-strict-rules/rules.neon
parameters:
	ignoreErrors:
		- '#^Cannot access offset int on array<int, int>\|int.$#'
		- '#^Short ternary operator is not allowed\. Use null coalesce operator if applicable or consider using long ternary.#'
		- '#^Property ITRocks\\Class_Use\\Index\\Classify_Test::\$by \(array<int, array<int\|string, array<int\|string, array<int\|string, array<int\|string, array<int, int>\|int>>>>>\) does not accept array<int, array<int\|string, array<int\|string, array<int\|string, array<int\|string, mixed>>>>>.$#'
		- '#^Property ITRocks\\Class_Use\\Index::\$by \(array<int, array<int\|string, array<int\|string, array<int\|string, array<int\|string, array<int, int>\|int>>>>>\) does not accept array<int, array<int\|string, array<int\|string, array<int\|string, array<int\|string, mixed>>>>>.$#'
	level: 9
	paths:
		- ../bin
		- ../examples
		- ../src
		- ../tests
	checkBenevolentUnionTypes: true
	checkImplicitMixed: true
	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	checkUninitializedProperties: true
	rememberPossiblyImpureFunctionValues: false
	reportAlwaysTrueInLastCondition: true
