includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
	ignoreErrors:
		- '#^Cannot access offset int on array.*\.$#'
	level: 9
	paths:
		- ../bin
		- ../examples
		- ../src
		- ../tests
